{% extends 'base.html' %}

{% block style %}
    <style type="text/css">
        body {
{#            width: 500px;#}
            margin: 0 auto;
        }
        .infinite-item, .loading {
            margin-bottom: 5px;
            background: #1eaedb;
            color: #fff;
            text-align: center;
            padding: 25px 0;
        }
        .loading {
            background-color: #333;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="infinite-container">
        {% for article in articles %}
            <div class="infinite-item">
                <h3>{{ article.title }}</h3>
                <p>
                    <small>{{ article.author }} / {{ article.date }}</small>
                </p>
                <p>
                    {{ article.body|truncatechars:100 }}
                </p>
            </div>
        {% endfor %}
    </div>
    
    <div class="loading" style="display: none;">
        Loading...
    </div>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="infinite-more-link">More</a>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
{% endblock %}


