{% extends 'base.html' %}

{% block style %}
    <style type="text/css">
        body {
{#            width: 500px;#}
            margin: 0 auto;
        }
        .infinite-item, .loading {
            margin-bottom: 5px;
            background: #1eaedb;
            color: #fff;
            text-align: center;
            padding: 25px 0;
        }
        .loading {
            background-color: #333;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="infinite-container">
        {% for number in numbers %}
            <div class="infinite-item">
                {{ number }}
            </div>
        {% endfor %}
    </div>
    
    {% if numbers.has_next %}
        <a href="?page={{ numbers.next_page_number }}" class="infinite-more-link">More</a>
    {% endif %}

    <div class="loading" style="display: none;">
        Loading...
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
{% endblock %}