{% extends 'base.html' %}

{% load static %}

{% block javascript %}
    <script src="{% static 'books/js/books.js' %}"></script>
{% endblock %}

{% block content %}
    <h1 class="page-header">Books</h1>

    <p>
        <button type="button"
                class="btn btn-primary js-create-book"
                data-url="{% url 'book_create' %}">
            <span class="glyphicon glyphicon-plus"></span>
            New book
        </button>
        <a href="{% url "book_export" %}" class="btn btn-primary">
            <span class="glyphicon glyphicon-export"></span>
            Export
        </a>
    </p>

    <table class="table" id="book-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Type</th>
            <th>Publication date</th>
            <th>Pages</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            {% include 'books/includes/partial_book_list.html' %}
        </tbody>
    </table>

    {% with paginator=books.paginator page=books %}
        {% include 'includes/paginator.html' %}
    {% endwith %}
{#    <div class="pagination">#}
{#        <span class="step-links">#}
{#            {% if books.has_previous %}#}
{#                <a href="?page={{ books.previous_page_number }}">previous</a>#}
{#            {% endif %}#}
{##}
{#            <span class="current">#}
{#                Page {{ books.number }} of {{ books.paginator.num_pages }}.#}
{#            </span>#}
{##}
{#            {% if books.has_next %}#}
{#                <a href="?page={{ books.next_page_number }}">next</a>#}
{#            {% endif %}#}
{#        </span>#}
{#    </div>#}

    <div class="modal fade" id="modal-book">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}